@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
 :root{
    --red :#ff3838;
 }

 * {
    margin: 0;
    padding: 0;
    font-family: 'Nunito' , sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transform: all 0.2s linear;
 }